@font-face {
    font-family: Museo;
    src: url("Museo.otf");
}


*
{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-weight: 400;
    font-family: Museo;
    box-sizing: border-box;
}

#root
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.form-relogio
{
    margin: 0 auto;
    text-align: center;
}
.flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.form-relogio .color
{
    color: #666;
    font-size: 5vw;
    padding: 1rem 0;
    font-weight: 900;
}
.form-relogio .relogio
{
    padding: 0px;
    /* border-radius: 5px; */
    border-top: 3px solid #ccc;
}
.form-relogio .relogio .semana
{
    padding: 1rem;
    margin: 0 auto;
}
.form-relogio .relogio .semana li
{
    color: #777;
    margin: 0 1rem;
    display: inline-block;
}
.form-relogio .relogio .time
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.form-relogio .relogio .time hgroup h1
{
    color: #333;
    font-size: 5.8vw;
    display: inline-block;
}
.form-relogio .relogio .time hgroup h1::after
{
    top: -3px;
    content: ": ";
    color: #666;
    position: relative;
    letter-spacing: 2px;
}
.form-relogio .relogio .time hgroup h1:last-child::after
{
    content: "";
}
.form-relogio .relogio .time span
{
    clear: both;
    float: right;
    color: #333;
    position: relative;
    padding: 1rem 1rem .0rem;
    text-transform: capitalize;
    font-family: sans-serif!important;
}

.dia
{
    color: #222!important;
}


@media (max-width: 567px)
{
    .form-relogio
    {
        width: 100%!important;
        margin: 0 auto;
    } 
    .form-relogio .relogio .semana
    {
        padding: .5rem;
    }
    .form-relogio .relogio .semana li
    {
        margin: 0 .2rem;
        font-size: 10pt;
    }
} 